${sys_idnf} => nrel_main_idtf:
[${surname} ${name} ${middlename}]
(*
<- lang_ru;;
*);;

${sys_idnf} => nrel_email: [${email}](*<-lang_en;;*);;

${sys_idnf} => nrel_information: [Ученая степень: ${academic_degree}, ученое звание: ${academic_title}.
Информация о работе: ${organization}, ${position}, ${city},${country}.](*<-lang_en;;*);;